* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start features */
.features__item {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
    border: 1px solid #eee;
    transition: 0.5s;
}

.features__sup-item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
}

.features__icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(130, 115, 252, .05);
    border-radius: 6px;
    color: #ff6600;
    font-size: 25px;
    transition: 0.5s;
}

.features__item:hover .features__icon {
    background-color: #ff6600;
    color: white;
}

.features__title a {
    color: #232121;
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.features__title a:hover {
    color: #ff6600;
}

#features p {
    margin: 0px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}
/* end features */

/* start number */
.number__heading {
    background-image: url(./img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    position: relative;
    z-index: 1;
}

.number__heading::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(16 15 19 / 66%);
    min-height: 100%;
    z-index: -1;
}

.number__heading h3 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
}

.number__button .btn__read,
.number__button .btn__contact {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    border-radius: 6px;
    transition: 0.5s;
}

.btn__read {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn__read:hover {
    color: #ff6600;
    background-color: #fff;
}

.btn__contact {
    background: #ff6600;
    border: 2px solid transparent;
    color: #fff;
}

.btn__contact:hover {
    opacity: 0.8;
    color: #fff;
}

.number__main {
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.number__item {
    padding: 40px 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: #fff;
    border-radius: 6px;
    transition: 0.5s;
}

.number__item:hover {
    transform: translateY(-5px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.number__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    font-size: 26px;
    width: 68px;
    height: 68px;
    margin: auto;
}

.number__count {
    font-size: 2.6em;
    font-weight: 600;
    color: #232121;
}

.number__item p {
    margin: 0;
    font-size: 18px;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 600;
}

/* end number */

/* start video */
#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}

#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}

#small-dialog .mfp-close {
    right: -15px;
    top: -40px;
    color: #fff;
}

.video__overlay {
    background-image: url(./img/banner3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    min-height: 500px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.video__overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(16 15 19 / 66%);
    min-height: 100%;
}

.video__overlay a {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.video__overlay .video-play-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: #ff6600;
    border: transparent;
    background: #fff;
}

.video__overlay .video-play-icon:hover {
    color: #fff;
    background-color: #ff6600;
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
/* end video */

/* start blogs */
#blogs a {
    text-decoration: none;
    color: #232121;
}

.blogs__title h6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}

.blogs__title h3 {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.blogs__item__top {
    position: relative;
}

.item__top__sup {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}

#blogs .item__top__sup a {
    background: #ff6600;
    color: #fff;
    padding: 3px 20px;
    border-radius: 35px;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    letter-spacing: 0.05em;
}

.item__top__sup span {
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    letter-spacing: 0.02em;
}

.item__top__sup i {
    margin-right: 0.3rem;
}

.item__bottom__heding {
    display: block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

.blogs__item__bottom p {
    font-size: 18px;
    line-height: 28px;
    color: rgba(22, 28, 45, 0.7);
}

.blogs__item__footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.blogs__item__footer a {
    font-weight: 700;
    letter-spacing: .02em;
}

.blogs__item__top img {
    width: 100%;
    border-radius: 5px;
}

.item__footer__info {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: flex-start;
}

.item__footer__info img {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

#blogs .blogs__btn:hover {
    color: #ff6600;
}
/* end blogs */


/* responsive */

@media (max-width: 415px) {
.number__heading h3 {
    font-size: 26px;
    line-height: 34px;
}

.number__button .btn__read,
.number__button .btn__contact {
    padding: 10px 21px;
}
}

@media (max-width: 992px) {
.number__main {
    margin-top: 0px;
}
}


